.form-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px !important;
}

.create-collection {
    width: 50%;
}

.collection-form {
    display: flex;
    justify-content: center;
}
#course {
    min-width: 50%;
    width: fit-content;
    border: 2px solid grey;
}

.collection-name {
    margin-bottom: 5%;
}

.description-label {
    width: 40%;
    margin-right: 10px;
}

#description-file {
    width: 2%;
    margin-right: 2%;
}

#description-file:checked {
    border: lawngreen solid 5px;
}

.create-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }