.form-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px !important;
    border-bottom: grey solid 2px;
}

.create-collection {
    width: 50%;
}

.collection-form {
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}
#course {
    min-width: 50%;
    width: fit-content;
    border: 2px solid grey;
}

.collection-name {
    margin-bottom: 5%;
}

.description-label {
    width: 40%;
    margin-right: 10px;
}

#description-file {
    width: 2%;
    margin-right: 2%;
}

#description-file:checked {
    border: lawngreen solid 5px;
}

.create-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }


@media screen and (max-width: 1018px){
    #description-file {
        width: 4%;
        margin-right: 4%;
    }
}

@media screen and (max-width: 810px){
    .collection-name {
        margin-bottom: 8%;
    }
    .create-collection {
        width: 70%;
    }
}

@media screen and (max-width: 568px){

    .create-collection {
        width: 90%;
    }
    .description-label {
        width: 60%;
    }
}

@media screen and (max-width: 300px){

    #description-file {
        width: 7%;
    }

    .create-collection {
        width: 100%;
        margin: 4%;
    }

    .description-label {
        width: 80%;
    }

    .create-button {
        justify-content: end;
        margin-right: 5px;
    }

}

@keyframes error-alert {
    from {
      transform: translateY(-50px);
    }

    to {
        transform: translateY(10px);
    }

}

.error-alert {
    animation: error-alert 2s ease-in normal;
    display: flex;
    height: 20px;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
}
