#logo{
    margin-left: 30px;
    margin-top: 0;
}

.home-nav{
    display: flex;
    gap: 64%;
    margin-top: 0;
    padding: 0;
    z-index: 2;
}

.me-auto{
    display: flex;
    gap: 35px;
    font-size: 20px;
}

#login:hover, #register:hover {
    color: white;
    background-color: rgb(9, 80, 3);
    border: solid grey 1px;
}

#login, #register {
    border-radius: 10px;
    padding-right: 8px;
    padding-left: 8px;
}

.home-page {
    display: flex;
    flex-direction: row;
    min-height: 84vh;
    width: 100%;
}

.main-text {
    margin-top: 60px;
    margin-left: 100px;
    width: 55%;
    padding:20px;
    height: fit-content;
}

.home-design{
    margin-top:20px;
}

#home-image1,#home-image2,#home-image3,
#home-image8,#home-image7,#home-image4,
#home-image9,#home-image6,#home-image5{
    border-radius: 30px;
    margin: -2px 1px;
    width: 100px;
    height: 100px;
    position: relative;
}

#home-image1:hover,#home-image2:hover,#home-image3:hover,
#home-image8:hover,#home-image7:hover,#home-image4:hover,
#home-image9:hover,#home-image6:hover,#home-image5:hover{
    border-radius: 10px;
    width: 150px;
    margin: 5px;
    height: 150px;
    position: relative;
}


.custom-shape-divider-top-1717935178 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1717935178 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 188px;
}

.custom-shape-divider-top-1717935178 .shape-fill {
    fill: #C2C2C2;
}