.login-form{
    width : 40%;
    padding: 10px 10px;
}

.login-username, .login-password{
    width: 35%;
}

.login-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
