.login-form{
    width : 40%;
    padding: 10px 10px;
    border: grey solid  0.005cm;
    border-radius: 20px;
    margin-top: 5%;
}

.login-username, .login-password{
    width: 96%;
    margin: 5px 5px;
    padding: 5px 5px;
}

.login-page{
    width: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 870px){
    .login-form{
        width: 70%;
    }
}
@media screen and (max-width: 400px){
    .login-form{
        width: 80%;
    }
}

@media screen and (max-width: 300px){
    .login-form{
        width: 98%;
        border: none;
    }
}
