
.main-header {
    display: flex;
    justify-content: start;
    gap: 10%;
    width: 100%;
    background-color: lime;
}

.main-title, .profile {
    margin-left: 25px;
    padding-top: 16px;
}
.nav-holder {
    width: 50%;
    margin: 0 !important;
}

.main-navbar {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.main-navbar {
    width: 100%;
}



/*

@media screen and (max-width: 922px){
    .nav-title {
        background-color: red
    }
}
*/
