.profile-title {
    font-weight: bolder;
    font-family: "Noto Sans Condensed Light", ui-rounded;
}

.image {
    border-radius: 20px;
}

.main-title {
    padding-top: 15px;
    width: 30%;
}

.main-header {
    display: flex;
    background-color: blue;
}

.nav-profile {
    display: flex;
    width: 70%;
}

.nav-holder {
    width: 90%;
}

.main-navbar {
    width: 100%;
    display: flex;
    column-gap: 15%;
}

.profile-image {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}


@media screen and (max-width: 575px){
    .main-header {
        display: flow;

    }
    .main-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: lime;
    }

    .nav-profile {
        width: 100%;
    }
}
