
.bar {
    width: 70%;
    height: 5vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    border-bottom: grey solid 1px;
}

.reg-form, .verify-form {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    margin: 4px 5px;
    padding: 4px 5px;
    width: 100%;
}

@media only screen and (min-width: 768px){
    .reg-form{
        width: 40%;
    }
    .reg-page{
        display: flex;
        justify-content: center;
        min-height: 80vh;
    }
}


.username, .password, .confirm, .email {
    padding: 8px 10px;
}
/*
.username, .password, .confirm, .email :hover{
    outline: blue;
}*/

.reg {
    margin-left: 40%;
    padding: 8px 10px;
}

.text, .code-input {
    margin-left: 20%;
    margin-right: 15px;
    padding: 10px 15px;
}

.reg-btn {
    border: none;
    background: grey;
    border-radius: 10px;
    padding: 5px 25px;
}

.reg-btn:hover {
    outline: darkslategrey;
    background: darkslategrey;
}

.input-form {
    margin: 5px 5px;
    padding: 10px 10px;
    border: grey solid 1px;
    border-radius: 20px;
}

.code-input {
    width: 150px;
}

.input-control{
    border: grey double 2px;
    border-radius: 5px;
}
* {
    font-family: "Noto Sans Kannada ExtraLight", serif;
}
.invalid {
    color: red;
    text-decoration-color: red;
    font-size: 5px;
    font-weight: lighter;
}

.error{
    background-color: rgba(255,0,0, 0.6);
    padding: 5px 5px;
    border-radius: 10px;
    width: 100%;
}

@media screen and (max-width: 310px){
    .input-form{
        border: none;
        margin:0px;
        width: 100%;
        padding: 0px;
    }

    .reg-form{
        margin: 0px;
        padding: 0px;
    }

    .confirm, .username, .password, .email {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
}


