
.bar {
    width: 70%;
    height: 10vh;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.reg-form, .verify-form {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    margin: 4px 5px;
    padding: 4px 5px;
}

.username, .password, .confirm, .email {
    padding: 8px 10px;
    margin: 8px 10px;
}

.username, .password, .confirm, .email :hover{
    outline: blue;
}

.reg {
    margin-left: 40%;
    padding: 8px 10px;
}

.text, .code-input {
    margin-left: 20%;
    margin-right: 15px;
    padding: 10px 15px;
}

.reg-btn {
    border: none;
    background: grey;
    border-radius: 10px;
    padding: 5px 25px;
}

.reg-btn:hover {
    outline: darkslategrey;
    background: darkslategrey;
}

Form {
    margin: 5px 5px;
    padding: 10px 10px;
    border: grey solid 1px;
    border-radius: 20px;
}

.code-input {
    width: 150px;
}

.input-control{
    border: grey double 2px;
    border-radius: 5px;
}
* {
    font-family: "Noto Sans Kannada ExtraLight";
}




