
.bar {
    width: 70%;
    height: 10vh;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.reg-form, .verify-form {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.2);
    margin: 5px 5px;
    padding: 5px 5px;
}

.username, .password, .confirm, .email {
    padding: 10px 10px;
    margin: 10px 10px;
}

.username, .password, .confirm, .email :hover{
    outline: blue;
}

legend {
    margin-left: 40%;
}

.text {
    margin-left: 20%;
}

.reg-btn {
    border: none;
    background: grey;
    border-radius: 10px;
    padding: 5px 40px;
}

.reg-btn:hover {
    outline: darkslategrey;
    background: darkslategrey;
}

Form {
    margin: 10px 10px;
    padding: 20px 15px;
    border: black solid;
    border-radius: 20px;
}
